@(port: Int)

@main("Welcome to Play") {

    <h2>Messages</h2>
    <p>New messages should appear below...</p>
    <div id="messages"></div>

    <script type="text/javascript">
        var $div = $('#messages');
        var ws = new WebSocket('ws://localhost:@port/ws')
        ws.onmessage = function( message ) {
            console.log( message );
            var msg = JSON.parse(message.data);
            var $p = $('<p>' + msg.name + ' says: ' + msg.message + '</p>');
            $div.append($p);
        };
    </script>

}
